#main{
    width: 100%;
}
/* ---------------------------------------NAV BAR--------------------------- */
#nav-menu{
    display: flex;
    justify-content: space-between;
    padding: 0% 1%;
    margin: auto;
    border: 1px solid red;
}
.nav-link-home,.nav-link-about,.nav-link-skills,.nav-link-projects,.nav-link-contact{
    border: 1px solid blue;
    color: red;
}